body {
  font-family:"comic sans ms";
  background-color: lightblue;
}

h1 {
  font-family:"copperplate gothic light";
  text-align: center;
  color: lightblue;
}

p1 {
  font-family:"comic sans ms";
}

p {
  font-family:"comic sans ms";
}

.header {
  background-color: black;
  border: .1px solid black;
  border-radius:25px;
}

.info {
  text-align: center;
  font-size: 20px;
}

h2 {
  text-decoration: underline;
  text-decoration-color: black;
  font-family:"copperplate gothic light"
}

img {
  border-radius: 50px;
}
